<div *ngIf="!weekly" class="col day" style="padding: 0; margin: 0">
	<app-present-indicator *ngIf="isToday"></app-present-indicator>
	<app-time-increment
	*ngFor="let timeIncrement of timeIncrements" 
	[date]=timeIncrement>
	</app-time-increment>
</div>

<div *ngIf="weekly" class="col day-weekly" style="padding: 0; margin: 0">
		<app-present-indicator *ngIf="isToday"></app-present-indicator>
		<app-time-increment
		*ngFor="let timeIncrement of timeIncrements" 
		[date]=timeIncrement>
		</app-time-increment>
	</div>


