
<div class="container" id="dialog" style="width: 550px; height: 300px; position: relative;">
	<div class="backdrop"></div>
	<div class="container-fluid" align="center" style="width: 500px; position: relative;">

		<img src="assets/logo.svg" class="logo" alt="">
		<input id="sign-up-input" type="checkbox">
		<div class="log-in-screen" id="log-in-screen">

			<form (ngSubmit)="submitLogIn()" #f="ngForm">
				<div ngModelGroup="loginData" #loginData="ngModelGroup">
					<div class="form-group" style="margin-bottom: 0px;">
						<mat-form-field style="margin-top: 20px;">
							<input 
							matInput
							type="email"
							ngModel
							name="email"
							required 
							email
							placeholder="Email" 
							#email>
						</mat-form-field>

						<mat-form-field>
							<input 
							matInput
							type="password"
							ngModel
							name="password"
							required
							password
							placeholder="Password" 
							#password>
						</mat-form-field>
					</div>
				</div>
			</form>
			<div>
				<button 
				type="button"
				class="btn btn-primary add-task"
				(click)="submitLogIn()">
				Log In</button>
				<button class="btn cancel-button" (click)="closeDialog()">Try Demo</button>
			</div>
			
			<p style="margin-top: 15px; font-size: 20px;">New? 
				
				<label for="sign-up-input" class="sign-up-link" style="cursor: pointer;">Sign up</label>

				 now!</p>
		</div>

		<div class="register-screen">

			<form (ngSubmit)="submitRegister()" #r="ngForm">
				<div ngModelGroup="registerData" #registerData="ngModelGroup">
					<div class="form-group" style="margin-bottom: 0px;">
						<mat-form-field>		
							<h3 style="margin-bottom: 10px;">Email</h3>
							<input 
							style="text-align: center;" 
							matInput
							type="email"
							ngModel
							name="email"
							required 
							email
							#taskName>
						</mat-form-field>
						<mat-form-field style="border-top: none !important;">		
							<h3 style="margin-bottom: 10px;">Password</h3>
							<input style="text-align: center;" 
							matInput
							type="password"
							ngModel
							name="password"
							required
							password
							#taskName>
						</mat-form-field>
					</div>
				</div>
			</form>
			<button
			style="margin-top: 0px !important;" 
			type="button"
			class="btn btn-primary add-task"
			(click)="submitRegister()">
			Sign up</button>

		</div>
		<label for="sign-up-input" class="nevermind"><div class="arrow-up"></div>Nevermind...</label>

		
				
	</div>
</div>
