<!-- IN TASK WINDOW -->
<div
*ngIf="task.date === 1"

#taskContainer
class="container task-container in-queue unselectable"
>
	<td class="minutes" #timeContainer>
		<img class="time-icon" src="assets/time.svg" alt="">
	{{ getHour(task.time) }} {{ getMinutes(task.time) }}m</td>
	<div align="center" class="task-name">
		<h3 #taskName>{{ (task.name.length>containerWidth)? (task.name | slice:0:containerWidth)+'...':(task.name) }}</h3>
	</div>
		<div class="alignleft" id="hover-buttons" #colorSelector style="visibility: hidden;">
			<img src="assets/color.svg" class="color-selector" alt="">
		</div>
		<div class="alignright unselectable" id="hover-buttons" #deleteButton>
			<img src="assets/delete.svg" (click)="onDelete()">
		</div>
	<div 
	(mousedown)="onMouseDown($event)"
	#dragger
	[style.height]="draggerHeight"
	class="dragger">
	</div>
</div>

<!-- ON CALENDAR INCOMPLETE -->
<div
*ngIf="task.date !== 1 && task.date !== 0 && task.isComplete === false"
mwlResizable
[ngStyle]="style"
[resizeEdges]="{bottom: true}"
[enableGhostResize]="false"
(resizing)="onResizing($event)"
[resizeSnapGrid]="{bottom: 32}"
[resizeCursorPrecision]=5
[style.height.px]="((task.time/15)*32)-6"
#taskContainer
class="container task-container on-calendar unselectable"
>
	<div class="align-top-left unselectable" id="hover-buttons" style="z-index: 20">
		<img class="complete-icon" src="assets/complete.svg" (click)="onComplete()">
	</div>
	
	<div class="minutes unselectable" #timeContainer>
		<img class="time-icon" src="assets/time.svg">
		<span>{{ getHour(task.time) }} {{ getMinutes(task.time) }}m</span>
	</div>
	<div align="center" class="task-name unselectable">
		<h3 #taskName>{{ (task.name.length>containerWidth)? (task.name | slice:0:containerWidth)+'...':(task.name) }}</h3>
	</div>
	<div class="alignleft unselectable" id="hover-buttons" #colorSelector style="visibility: hidden;">
		<img src="assets/color.svg" class="color-selector">
	</div>
	<div class="alignright unselectable" id="hover-buttons" style="z-index: 20" #deleteButton>
		<img src="assets/delete.svg" (click)="onDelete()">
	</div>
	<div 
	(mousedown)="onMouseDown($event)"
	#dragger
	[style.height]="draggerHeight"
	class="dragger">
	</div>

	<div *ngIf="tutorialProgress==3" class="tutorial" id="tutorial3">
		<svg width="31" height="14" id="tutorial3-pointer">
			<polygon points="31,0 31,14 0,7" style="fill:#246d46;" />
		</svg>
		<span class="tutorial-text">Resize the task by dragging at the bottom</span>
	</div>
	<div *ngIf="tutorialProgress==4" class="tutorial" id="tutorial4">
		<svg width="14" height="31" id="tutorial4-pointer">
			<polygon points="7,31 14,0 0,0" style="fill:#246d46;" />
		</svg>
		<span class="tutorial-text">Complete the task by clicking here.</span></div>
	
</div>

<!-- ON CALENDAR COMPLETE -->
<div
*ngIf="task.date !== 1 && task.date !== 0 && task.isComplete"
[style.height.px]="((task.time/15)*32)-6"
#taskContainer
class="container task-container on-calendar unselectable"
style="background-color: rgba(0, 166, 81, 0.3); cursor: initial !important;"
>
	<div class="align-top-left-complete unselectable" id="hover-buttons" style="z-index: 20">
	<img class="complete-icon" src="assets/complete.svg" (click)="onComplete()">
	</div>
	
	<div class="minutes unselectable" #timeContainer style="visibility: hidden;">
		<img class="time-icon" src="assets/time.svg">
		<span>{{ getHour(task.time) }} {{ getMinutes(task.time) }}m</span>
	</div>
	<div align="center" class="task-name unselectable">
		<h3 #taskName>{{ (task.name.length>containerWidth)? (task.name | slice:0:containerWidth)+'...':(task.name) }}</h3>
	</div>
	<div class="alignleft unselectable" id="hover-buttons" #colorSelector style="visibility: hidden;">
		<img src="assets/color.svg" class="color-selector">
	</div>
	<div class="alignright unselectable" id="hover-buttons" style="z-index: 20"  #deleteButton>
		<img src="assets/delete.svg" (click)="onDelete()" style="cursor: pointer !important;">
	</div>
	<div 
	(mousedown)="onMouseDown($event)"
	#dragger
	[style.height]="draggerHeight"
	class="dragger">
	</div>
	<div *ngIf="tutorialProgress==3" class="tutorial" id="tutorial3"><span class="tutorial-text">Resize the task by dragging at the bottom</span></div>
	<div *ngIf="tutorialProgress==4" class="tutorial" id="tutorial4"><span class="tutorial-text">Complete the task by clicking here.</span></div>
	
</div>

<!-- IN MOUSE CONTAINER INCOMPLETE -->
<div
*ngIf="task.date === 0 && task.isComplete === false"
#taskContainer
class="container task-container in-mouse-container unselectable"
>
	<div class="align-top-left unselectable" id="hover-buttons">
		<img class="complete-icon" src="assets/complete.svg">
	</div>
	
	<div class="minutes unselectable" #timeContainer>
		<img class="time-icon" src="assets/time.svg">
		<span>{{ getHour(task.time) }} {{ getMinutes(task.time) }}m</span>
	</div>
	<div align="center" class="task-name unselectable">
		<h3 #taskName>{{ (task.name.length>containerWidth)? (task.name | slice:0:containerWidth)+'...':(task.name) }}</h3>
	</div>
	<div class="alignleft unselectable" id="hover-buttons" #colorSelector>
		<img src="assets/color.svg" class="color-selector">
	</div>
	<div class="alignright unselectable" id="hover-buttons" #deleteButton>
		<img src="assets/delete.svg">
	</div>
	<div 
	(mousedown)="onMouseDown($event)"
	#dragger
	[style.height]="draggerHeight"
	class="dragger">
	</div>	
	
</div>

<!-- IN MOUSE CONTAINER COMPLETE -->
<div
*ngIf="task.date !== 1 && task.date === 0 && task.isComplete"
#taskContainer
class="container task-container in-mouse-container unselectable"
style="background-color: rgba(0, 166, 81, 0.3);"
>
	<div class="align-top-left-complete unselectable" id="hover-buttons">
	<img class="complete-icon" src="assets/complete.svg">
	</div>
	
	<div class="minutes unselectable" #timeContainer style="visibility: hidden;">
		<img class="time-icon" src="assets/time.svg">
		<span>{{ getHour(task.time) }} {{ getMinutes(task.time) }}m</span>
	</div>
	<div align="center" class="task-name unselectable">
		<h3 #taskName>{{ (task.name.length>containerWidth)? (task.name | slice:0:containerWidth)+'...':(task.name) }}</h3>
	</div>
	<div class="alignleft unselectable" id="hover-buttons" #colorSelector style="visibility: hidden;">
		<img src="assets/color.svg" class="color-selector">
	</div>
	<div class="alignright unselectable" id="hover-buttons" #deleteButton>
		<img src="assets/delete.svg">
	</div>
	<div 
	(mousedown)="onMouseDown($event)"
	#dragger
	[style.height]="draggerHeight"
	class="dragger">
	</div>	
	
</div>

<!-- <div
*ngIf="task.date !== null"
mwlResizable
[ngStyle]="style"
[resizeEdges]="{bottom: true}"
[enableGhostResize]="true"
(resizing)="onResizing($event)"
[resizeSnapGrid]="{bottom: 32}"
[resizeCursorPrecision]=20
[style.height.px]="((task.time/15)*32)-6" 
appDraggable 
[taskName]=task.name 
[taskID]=task.id
class="container task-container on-calendar"
>
	<h3><td class="minutes"><span #time>{{ task.time }}</span> minutes</td>{{ task.name }} {{ task.id }}</h3>
	
</div> -->