<!-- IN TASK WINDOW -->
<div
*ngIf="task.date === 1"
#taskContainer
class="container task-container in-queue unselectable"
[style.backgroundColor]="task.color"
>
	<td class="minutes" #timeContainer>
		<img class="time-icon" src="assets/time.svg" alt="">
	{{ getHour(task.time) }} {{ getMinutes(task.time) }}m</td>

	<div align="center" class="task-name unselectable" #taskNameContainer>		
		<h3 #taskName>{{ (task.name.length>containerWidth/2)? (task.name | slice:0:containerWidth/2)+'...':(task.name) }}
			<!-- Edit task button -->
			<div
			class="edit-button"
			id="hover-buttons"
			style="z-index: 20"
			(click)="editTask()"
			>
				<svg width="26" height="26">
					<path 
					[style.stroke]="task.color" 
					id="svg_1"
					d="m22.72911,2.83676l-2.72194,-1.71082c-0.68675,-0.43122 -1.59167,-0.22367 -2.0244,0.46322l-1.07287,1.70762l5.20718,3.27052l1.07372,-1.70683c0.43108,-0.68771 0.22534,-1.59346 -0.46169,-2.02372l0,0zm-15.08541,15.21312l5.20747,3.27048l8.48731,-13.51111l-5.20995,-3.27134l-8.48483,13.51197l0,0zm-0.79544,4.15527l-0.11501,3.07191l2.71776,-1.43751l2.52557,-1.3335l-5.02381,-3.15713l-0.10451,2.85624l0,0l0,0z"
					stroke-width="1.5"
					fill="#fff"/>
				</svg>
			</div>
		</h3>
	</div>

	<!-- Task Editor -->
	<div class="task-editor" style="display: none;" #taskEditorContainer>
		<textarea [value]="task.name" #taskEditorInput (keyup.enter)="closeTaskEditor()" (blur)="closeTaskEditor()"></textarea>
	</div>

	<!-- Color selector and delete button -->
	<div class="alignleft" id="hover-buttons" #colorSelector>
		<img src="assets/color.svg" class="color-selector" alt="" (click)="changeColor()">
	</div>

	<div class="alignright unselectable" id="hover-buttons" #deleteButton>
		<img src="assets/delete.svg" (click)="onDelete()">
	</div>

	<!-- Dragger receiving click events -->
	<div 
	(mousedown)="onMouseDown($event)"
	#dragger
	[style.height]="draggerHeight"
	class="dragger">
	</div>
</div>

<!-- ON CALENDAR INCOMPLETE -->
<div
*ngIf="task.date !== 1 && task.date !== 0 && task.isComplete === false"
mwlResizable
[ngStyle]="style"
[resizeEdges]="{bottom: true}"
[enableGhostResize]="false"
(resizing)="onResizing($event)"
[resizeSnapGrid]="{bottom: 32}"
[resizeCursorPrecision]=5
[style.height.px]="((task.time/15)*32)-6"
[style.backgroundColor]="task.color"
#taskContainer
class="container task-container on-calendar unselectable"
>
	<div class="align-top-left unselectable" id="hover-buttons" style="z-index: 20">
		<img class="complete-icon" src="assets/complete.svg" (click)="onComplete()">
	</div>
	
	<div class="minutes unselectable" #timeContainer>
		<img class="time-icon" src="assets/time.svg">
		<span>{{ getHour(task.time) }} {{ getMinutes(task.time) }}m</span>
	</div>

	<div align="center" class="task-name unselectable" #taskNameContainer>		
		<h3 #taskName>{{ (task.name.length>containerWidth/2.5)? (task.name | slice:0:containerWidth/2.5)+'...':(task.name) }}
			<!-- Edit task button -->
			<div
			class="edit-button"
			id="hover-buttons"
			style="z-index: 20"
			(click)="editTask()"
			>
				<svg width="26" height="26">
					<path 
					[style.stroke]="task.color" 
					id="svg_1"
					d="m22.72911,2.83676l-2.72194,-1.71082c-0.68675,-0.43122 -1.59167,-0.22367 -2.0244,0.46322l-1.07287,1.70762l5.20718,3.27052l1.07372,-1.70683c0.43108,-0.68771 0.22534,-1.59346 -0.46169,-2.02372l0,0zm-15.08541,15.21312l5.20747,3.27048l8.48731,-13.51111l-5.20995,-3.27134l-8.48483,13.51197l0,0zm-0.79544,4.15527l-0.11501,3.07191l2.71776,-1.43751l2.52557,-1.3335l-5.02381,-3.15713l-0.10451,2.85624l0,0l0,0z"
					stroke-width="1.5"
					fill="#fff"/>
				</svg>
			</div>
		</h3>
	</div>

	<!-- Task Editor -->
	<div class="task-editor" style="display: none;" #taskEditorContainer>
		<textarea [value]="task.name" #taskEditorInput (keyup.enter)="closeTaskEditor()" (blur)="closeTaskEditor()"></textarea>
	</div>

	<!-- Color selector and delete button -->
	<div class="alignleft unselectable" id="hover-buttons" #colorSelector style="z-index: 20" #deleteButton>
		<img src="assets/color.svg" class="color-selector" (click)="changeColor()">
	</div>

	<div class="alignright unselectable" id="hover-buttons" style="z-index: 20" #deleteButton>
		<img src="assets/delete.svg" (click)="onDelete()">
	</div>

	<!-- Dragger receiving click events -->
	<div 
	(mousedown)="onMouseDown($event)"
	#dragger
	[style.height]="draggerHeight"
	class="dragger">
	</div>

	<div *ngIf="tutorialProgress==3" class="tutorial" id="tutorial3">
		<svg width="31" height="14" id="tutorial3-pointer">
			<polygon points="31,0 31,14 0,7" style="fill:#246d46;" />
		</svg>
		<span class="tutorial-text">Resize the task by dragging at the bottom.</span>
	</div>

	<div *ngIf="tutorialProgress==4" class="tutorial" id="tutorial4">
		<svg width="14" height="31" id="tutorial4-pointer">
			<polygon points="7,31 14,0 0,0" style="fill:#246d46;" />
		</svg>
		<span class="tutorial-text">Complete the task by clicking here.</span>
	</div>
	
</div>

<!-- ON CALENDAR COMPLETE -->
<div
*ngIf="task.date !== 1 && task.date !== 0 && task.isComplete"
[style.height.px]="((task.time/15)*32)-6"
#taskContainer
class="container task-container on-calendar unselectable"
style="background-color: rgba(0, 166, 81, 0.3); cursor: initial !important;"
>
	<div class="align-top-left-complete unselectable" id="hover-buttons" style="z-index: 20">
	<img class="complete-icon" src="assets/complete.svg" (click)="onComplete()">
	</div>
	
	<div class="minutes unselectable" #timeContainer style="visibility: hidden;">
		<img class="time-icon" src="assets/time.svg">
		<span>{{ getHour(task.time) }} {{ getMinutes(task.time) }}m</span>
	</div>

	<div align="center" class="task-name unselectable" #taskNameContainer>
		<h3 #taskName>{{ (task.name.length>containerWidth)? (task.name | slice:0:containerWidth)+'...':(task.name) }}</h3>
	</div>

	<!-- Task Editor -->
	<div class="task-editor" style="display: none;" #taskEditorContainer>
		<input [value]="task.name" #taskEditorInput>
	</div>

	<div class="alignleft unselectable" id="hover-buttons" #colorSelector style="visibility: hidden;">
		<img src="assets/color.svg" class="color-selector">
	</div>

	<div class="alignright unselectable" id="hover-buttons" style="z-index: 20"  #deleteButton>
		<img src="assets/delete.svg" (click)="onDelete()" style="cursor: pointer !important;">
	</div>

	<!-- Dragger receiving click events -->
	<div 
	(mousedown)="onMouseDown($event)"
	#dragger
	[style.height]="draggerHeight"
	class="dragger">
	</div>

	<div *ngIf="tutorialProgress==3" class="tutorial" id="tutorial3">
		<span class="tutorial-text">Resize the task by dragging at the bottom.</span>
	</div>

	<div *ngIf="tutorialProgress==4" class="tutorial" id="tutorial4">
		<span class="tutorial-text">Complete the task by clicking here.</span>
	</div>
</div>

<!-- IN MOUSE CONTAINER INCOMPLETE -->
<div
*ngIf="task.date === 0 && task.isComplete === false"
#taskContainer
class="container task-container in-mouse-container unselectable"
[style.backgroundColor]="task.color"
>
	<div class="align-top-left unselectable" id="hover-buttons">
		<img class="complete-icon" src="assets/complete.svg">
	</div>
	
	<div class="minutes unselectable" #timeContainer>
		<img class="time-icon" src="assets/time.svg">
		<span>{{ getHour(task.time) }} {{ getMinutes(task.time) }}m</span>
	</div>

	<div align="center" class="task-name unselectable" #taskNameContainer>
		<h3 #taskName>{{ (task.name.length>containerWidth)? (task.name | slice:0:containerWidth)+'...':(task.name) }}</h3>
	</div>

	<!-- Task Editor -->
	<div class="task-editor" style="display: none;" #taskEditorContainer>
		<input [value]="task.name" #taskEditorInput>
	</div>

	<div class="alignleft unselectable" id="hover-buttons" #colorSelector>
		<img src="assets/color.svg" class="color-selector">
	</div>

	<div class="alignright unselectable" id="hover-buttons" #deleteButton>
		<img src="assets/delete.svg">
	</div>

</div>

<!-- IN MOUSE CONTAINER COMPLETE -->
<div
*ngIf="task.date !== 1 && task.date === 0 && task.isComplete"
#taskContainer
class="container task-container in-mouse-container unselectable"
style="background-color: rgba(0, 166, 81, 0.3);"
>
	<div class="align-top-left-complete unselectable" id="hover-buttons">
	<img class="complete-icon" src="assets/complete.svg">
	</div>
	
	<div class="minutes unselectable" #timeContainer style="visibility: hidden;">
		<img class="time-icon" src="assets/time.svg">
		<span>{{ getHour(task.time) }} {{ getMinutes(task.time) }}m</span>
	</div>

	<div align="center" class="task-name unselectable" #taskNameContainer>
		<h3 #taskName>{{ (task.name.length>containerWidth)? (task.name | slice:0:containerWidth)+'...':(task.name) }}</h3>
	</div>

	<!-- Task Editor -->
	<div class="task-editor" style="display: none;" #taskEditorContainer>
		<input [value]="task.name" #taskEditorInput>
	</div>

	<div class="alignleft unselectable" id="hover-buttons" #colorSelector style="visibility: hidden;">
		<img src="assets/color.svg" class="color-selector">
	</div>

	<div class="alignright unselectable" id="hover-buttons" #deleteButton>
		<img src="assets/delete.svg">
	</div>
</div>