.task-container{
	color: white;
	background-color: green;
	height: 80px;
	margin-bottom: 20px;
	border-radius: 5px;
	padding: 5px;
	width: 100%;
	position: relative;
}

.minutes{
	font-size: 12px;
	text-align: right;
	 display:block;
}

h3{
	margin: 0;
}