.task-container{
	color: white;
	/* background-color: #00A651; */
	position: relative;
	border-radius: 12px;
	padding: 5px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1;
	opacity: 1 !important;
}

.row{
	position: relative;
}

.dragger{
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
}

.in-queue{
	width: 80%;
	height: 135px;
	margin-bottom: 5px !important;
	margin-left: 10%;
	margin-right: 10%;
}

img{
	height: 20px;
	margin-bottom: 4px;
	margin-right: 3px;
}

.minutes{
	font-weight: 2000;
	font-family: 'Roboto', sans-serif !important;
	font-size: 14px;
	text-align: right;
	position: absolute;
	right: 18px;
	top: 5px;
	margin: 0;
}

.time-icon{
	height: 14px !important;
	margin-right: 0;
}

.on-calendar{
	top: 3px;
	left: 0.05%;
	width: 90% !important;
}

.in-mouse-container{
	width: 100% !important;
	height: 100%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.task-name{
	height: 100%;
	margin-left: 10px; 
	margin-right: 10px;
	position: relative;
	display: flex;
    align-items: center;
    justify-content: center;
  	flex-direction: column;
  	text-align: center;
}

h3{
	font-family: 'Roboto', sans-serif;
	font-size: 26px;
	margin: 0;
}

.color-selector{
	border-radius: 4px;
}

.align-top-left{
	opacity: 0;
	position: absolute;
	top: 1.5px;
	left: 4px;
}

.align-top-left-complete{
	position: absolute;
	top: 1.5px;
	left: 4px;
}

.alignleft{
	opacity: 0;
	position: absolute;
	bottom: 0;
	left: 14px;
}

.alignright{
	opacity: 0;
	position: absolute;
	bottom: 0;
	right: 10px;
}

.task-container:hover #hover-buttons{
	opacity: 1;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

#tutorial3{
	bottom: -6px;
	right: -200px;
}

#tutorial3-pointer{
	position: absolute;
	bottom: 0;
	left: -20px;
}

#tutorial4{
	top: -70px;
	left: 0px;
}

#tutorial4-pointer{
	position: absolute;
	bottom:-30px;
	left: 6px;
}


/*ALTERNATIVE METHOD FOR MULTI-LINE ELLIPSIS*/
/*h3{
	font-weight: 1000;
	font-family: 'Roboto', sans-serif;
	font-size: 26px;
  display: block; 
  display: -webkit-box;
  max-width: 400px;
  height: 72.8px;
  margin: 0 auto;
  line-height: 1.3461;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}*/