#dialog{
	width: 550px; 
	height: 300px; 
	position: relative;
}

input{
	text-align: center;
	font-size: 30px;
	font-weight: 300;
	font-family: 'Roboto', sans-serif;
}

h3{
	font-family: 'Roboto', sans-serif;
	font-size: 32px;
	text-align: center;
}

mat-form-field{
	width: 100%;
}

.gradient-wrapper{
	margin-top: -80px;
	height: 80px;
		width: 326.64px;
	background: -webkit-linear-gradient(left, white, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, white);
	position: relative;
	overflow-y: hidden;
}

.time-selector{
	overflow-x: hidden;
	overflow-y: hidden;
	height: 80px;
	width: 326.64px;
	margin-top: 10px !important;
	margin: 0px;
	padding: 0px;
	border-top: 1px rgba(0, 0, 0, 0.42) solid;
	border-bottom: 1px rgba(0, 0, 0, 0.42) solid;
}

.wrapper{
	margin-top: 10px;
	margin-bottom: 10px;
	height: 60px;
	overflow-x: hidden;
	width: 2833.88px;
	padding: 0px;
}

#times{
	width: 88.88px;
	margin-right: 10px;
	margin-left: 10px;
	font-family: 'Roboto', sans-serif;
	color: #808285;
	font-size: 40px;
	font-weight: 1200;
		padding: 0px;
}

svg{
	margin-top:-40px;
}

.btn-primary:active, .btn-primary:visited{
    background-color: #006d34 !important;
}




.add-task{
	position: absolute;
	background-color: #00A651;	
	color: white;
	border-color: transparent;
	filter: brightness(80%);
}

.clicked{
	position: relative;
	background-color: #00A651;	
	color: white;
	border-color: transparent;
	
}

.cancel-button{
	background-color: transparent;
}

.cancel-button:hover, .cancel-button:active, .cancel-button:visited{
    background-color: silver !important;
}


button{
	font-family: 'Roboto', sans-serif;
	font-weight: 250;
	margin-top: 40px;
	width: 200px;
	height: 80px;
	font-size: 30px;
}

#hint{
	margin: 0;
	padding: 0;
	font-size: 9px;
	color: rgba(0, 0, 0, 0.42);
}

::-webkit-scrollbar {
    height: 0px;
    width: 0px;
    background: transparent;
}