html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
/*    overflow: hidden; */
}

.vert-scroll{
  overflow-x: hidden;
  overflow-y: scroll;
      height: 93.8005vh;
}

.calendar{
  overflow: hidden;
  /*width: 69.375vw;*/
  width: 100%;
  min-width: 388.5px;
}

.wrapper {
    padding: 0px;
    margin: 0px;
    /*overflow: hidden;*/
    /*width: 115.625vw;*/
    width: 118.9581vw;
    min-width: 1942.5px;
}

.days-otw{
    overflow-x: hidden;
 /* width: 63.6111vw;*/
 width: 100%;
 min-width: 388.5px;
}


::-webkit-scrollbar {
    height: 0px;
    width: 0px;
    background: transparent;
}
