  <app-mouse-container></app-mouse-container>
<div class="row" (window:resize)="onResize()">

  <!-- TASK WINDOW -->
  <div class="col-md-auto col-12">
    <app-task-window [unchecker]="unchecker"></app-task-window>
  </div>


  <div class="col" style="min-width: 417.66px;">

    
    <div class="row" (mouseup)="onMouseUp()">
      <!-- LEFT BUTTON -->
      <div class="col-md-auto col-12">
        <!-- <div style="background-color: red; width: 42px; height: 40px;"></div> -->
        <app-day-button (click)="backDay()" [dir]="'L'"></app-day-button>
      </div>


      <!-- DAYS OTW -->
      <div class="col" style="width: 1%">
        <div class="days-otw" id="hor-scroll">
          <div class="row wrapper">
            <app-days-otw *ngFor="let date of dates" [date]=date></app-days-otw>
          </div>
        </div>
      </div>



      <!-- RIGHT BUTTON -->
      <div class="right-button">
        <!-- <div style="background-color: red; width: 42px; height: 40px;"></div> -->
        <app-day-button (click)="fwdDay()" [dir]="'R'"></app-day-button>
      </div>

    </div>
    
    <!-- WEBKIT BROWSER CALENDAR -->
    <div *ngIf="isWebkit" 
    class="vert-scroll" 
    (scroll)="keepScroll()" 
    #vertScroll>
      
      <div class="row">

        <!-- TIME BAR -->
        <div class="col-md-auto col-12">
          <app-timebar></app-timebar>
        </div>


        <!-- TIME INCREMENTS -->
        <div class="col" style="width: 1%">
          <div class="calendar" id="hor-scroll">
              <div class="row wrapper">
                <app-date *ngFor="let date of dates" [date]=date id="date"></app-date>
              </div>
            </div>  
        </div>
      </div>
    </div>


    <!-- NON-WEBKIT BROWSER CALENDAR -->
    <div *ngIf="!isWebkit" 
    class="vert-scroll" 
    (scroll)="keepScroll()" 
    malihu-scrollbar 
    [scrollbarOptions]="scrollbarOptions" 
    #vertScroll>
      
      <div class="row">

        <!-- TIME BAR -->
        <div class="col-md-auto col-12">
          <app-timebar></app-timebar>
        </div>


        <!-- TIME INCREMENTS -->
        <div class="col" style="width: 1%">
          <div class="calendar" id="hor-scroll">
              <div class="row wrapper">
                <app-date *ngFor="let date of dates" [date]=date id="date"></app-date>
              </div>
            </div>  
        </div>
      </div>
    </div>

  </div>
</div>

