html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.vert-scroll{
  overflow-y: scroll;
      height: 93.8005vh;
}

.calendar{

  overflow-x: scroll;
  width: 69.375vw;
  min-width: 388.5px;
}

.wrapper {
    padding: 0px;
    margin: 0px;
    /*overflow: hidden;*/
    width: 115.625vw;
    min-width: 1942.5px;
}

.days-otw{
    overflow-x: scroll;
  width: 63.6111vw;
}


::-webkit-scrollbar {
    height: 0px;
    width: 0px;
    background: transparent;
}
