.row, .col-md-auto, .col-12, .col, .right-button, .calendar, .wrapper{
  margin: 0;
  padding: 0;
}

.row{
  flex-wrap: nowrap;
}

.vert-scroll{
  overflow-x: hidden;
  overflow-y: scroll;
  height: 93.8005vh;
}

.calendar{
  overflow: hidden;
  width: 100%;
  min-width: 388.5px;
}

.wrapper {
  padding: 0px;
  margin: 0px;
  width: 118.9581vw;
  min-width: 1942.5px;
}

.days-otw{
  overflow-x: hidden;
  min-width: 388.5px;
}

.right-button{
  position: absolute;
  right: 0;
  top: 0;
  height: 56.97px;
}

app-mouse-container{
  width: 23.7916vw;
  min-width: 388.5px;
  height: 280px;
  background-color: transparent;
  position: absolute;
  z-index: -20;
}


::-webkit-scrollbar {
    height: 0px;
    width: 0px;
    background: transparent;
}

