#task-window{
	/*min-width: 417.66px;*/
	min-width: 318px;
	width: 24.8611vw;
	height: 100%;
	background-color: #43544B;
}

.form-container{
	min-height: 150px;
	height: 29vh;
}

.task-window{
	position: relative;
	margin-top: 30px;
	min-height: 200px;
	height: 80vh;
	/*height: 71vh;*/
	overflow-y: scroll;
	/*overflow-y: hidden;*/
}

.options{
	margin: 10px;
	width: 20px;
}

.logo{
	margin-top: -10px;
	width: 240px;
}

.btn-primary:active, .btn-primary:visited {
    background-color: #006d34 !important;
}


.task-modal{
	background-color: #00A651;
	height: 36px;
	width: 36px;
	border-radius: 7px;
	border-color: transparent !important;
}

.button-plus{
	position: absolute;
	top: 7px;
	left: 7px;
	height: 23px;
	color: white;
}

.search-and-add{
	margin-top: 20px;
	height: 36px; 
	width: 80%; 
	margin-left: 10%;
}

.field-container{
	background-color: white;
	border-radius: 7px;
	height: 36px;
	width: 100%;
}

.search-field{
	width: 90%;
	height: 100%;
	background-color: transparent;
	border: none;
	outline: none;
	font-size: 18px;
	font-weight: 300;
	font-family: 'Roboto', sans-serif;
}

input#options-toggle{
	display: none;
}

input:checked ~ ul.submenu{
  	max-height: 300px;
  	-o-transition: max-height 0.5s ease-in;
	-moz-transition: max-height 0.5s ease-in;
	-ms-transition: max-height 0.5s ease-in;
	-webkit-transition: max-height 0.5s ease-in;
  	transition: max-height 0.5s ease-in;
}

input:checked ~ img.options{
	-o-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

img.options{
	-o-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease; 
}

ul.submenu{
	max-height: 0;
	padding: 0;
	overflow: hidden;
	transition: max-height 0.5s ease-out;
	position: absolute;
	top: 36px;
	right: -180px;
	width: 200px;
	z-index: 25;
	list-style-type: none;
	background: white;
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

ul.submenu li a{
	padding: 8px;
	font-size: 16px;
	font-weight: 300;
	color: #222;
	font-family: 'Roboto', sans-serif;
}

ul.submenu li {
	border-bottom: solid 1px rgba(0,0,0,.1);
}

ul.submenu li:hover{
  	background: rgba(0,0,0,.1);
}

#tutorial1{
	top: 50px;
}

#tutorial1-pointer{
	position: absolute;
	top:-20px;
	left: 11px;
}

#tutorial2{
	top: 150px;
	right: -160px;
}

#tutorial2-pointer{
	position: absolute;
	bottom: -16px;
	left:-16px;
}

#tutorial5{
	top: 10px;
	right: -210px;
}

#tutorial5-pointer{
	position: absolute;
	top: 0;
	left: -20px;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}