#task-window{
	min-width: 417.66px;
	width: 24.8611vw;
	height: 100%;
	background-color: silver;
}

.form-container{
	min-height: 150px;
	height: 29vh;
}

.task-window{
	min-height: 200px;
	height: 71vh;
	overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}