.time-increment{
	height: 32px;
	position: relative;
	-o-transition:.2s;
	-ms-transition:.2s;
	-moz-transition:.2s;
	-webkit-transition:.2s;
	transition:.2s;
}

.hour{
	vertical-align: text-top;
	font-size: 8px;
}

.half-hour{
	z-index: -1;
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #e5e5e5;
	height: 0.5px;
}

.task-holder{
	position: relative;
	width: 100%;
	height: 100%;
}

.unoccupied:hover{
	background-color: #e5e5e5;
}