
<!-- UNOCCUPIED TIME INCREMENT -->
<div 
[hidden]="isOccupied"
(mouseup)="onMouseUp()"
[ngStyle]="style"
(click)="onClick()" 
class="time-increment unoccupied"
#timeIncrement>
<div *ngIf="this.date.getMinutes() === 15" class="half-hour"></div>
<app-task *ngIf="task !== undefined && task.date  && task.date.getTime() == date.getTime()"
[task]=task
></app-task>
</div>

<!-- OCCUPIED TIME INCREMENT -->
<div 
*ngIf="isOccupied"
(mouseup)="onMouseUp()"
[ngStyle]="style"
(click)="onClick()" 
class="time-increment">
	<div *ngIf="this.date.getMinutes() === 15" class="half-hour"></div>
	<div class="task-holder" #myTask>
		<app-task *ngIf="task !== undefined && task.date && task.date.getTime() == date.getTime()"
		[task]=task
		></app-task>
	</div>
</div>

<!-- appDroppable (onDrop)="onDrop($event)" [date]=date [container]=container -->